---
permalink: "/about/"
---
{% extends "layouts/base.html" %}

{% block content %}
	<h1 class="page-title">About the Series</h1>

	<p>Chattanooga is brimming with smart (dare we say, brilliant) designers and developers. Unfortunately, we don't come together to share our knowledge and our passions as much as we could. Until now, that is!</p>
	<p>Code &amp; Creativity is a social talk series created to connect us with each other and our larger community. Every other month, we’ll gather at the Camp House for a few hours to listen to one local and one visiting designer/developer as they share their passions, wisdom, and war stories. We'll ask questions, talk shop, and maybe even make some new friends. Of course no gathering would be complete without something yummy in your tummy, so snacks and a tasty beverage (coffee, soft drink, or beer) are on us!</p>

	<section id="staff">
		<h2>Made Possible by these Generous Folks</h2>
		<ul>
			<li class="vcard">
				<div class="photo" data-image="/images/kelly-mccarthy.jpg" data-image-attr="width:220;height:220;" data-imaged><img alt="" src="/images/kelly-mccarthy.jpg" height="220" width="220"></div>
				<b class="fn">Kelly McCarthy</b>
				<b class="role">Organizer</b>
				<a class="url" href="http://twitter.com/ShirleyTemper">@ShirleyTemper</a>
			</li>
			<li class="vcard">
				<div class="photo" data-image="/images/ashlee-owens.jpg" data-image-attr="width:220;height:220;" data-imaged><img alt="" src="/images/ashlee-owens.jpg" height="220" width="220"></div>
				<b class="fn">Ashlee Owens</b>
				<b class="role">Promotions</b>
				<a class="url" href="http://twitter.com/ashleeowens">@ashleeowens</a>
			</li>
			<li class="vcard">
				<div class="photo" data-image="/images/alex-ogle.jpg" data-image-attr="width:220;height:220;" data-imaged><img alt="" src="/images/alex-ogle.jpg" height="220" width="220"></div>
				<b class="fn">Alex Ogle</b>
				<b class="role">Videographer</b>
				<a class="url" href="http://twitter.com/AlexOgle">@AlexOgle</a>
			</li>
			<li class="vcard">
				<div class="photo" data-image="/images/aaron-gustafson.jpg" data-image-attr="width:220;height:220;" data-imaged><img alt="" src="/images/aaron-gustafson.jpg" height="220" width="220"></div>
				<b class="fn">Aaron Gustafson</b>
				<b class="role">Helper</b>
				<a class="url" href="http://twitter.com/AaronGustafson">@AaronGustafson</a>
			</li>
		</ul>
	</section>

	<section id="colophon">
		<h2>Colophon</h2>
		<p>Headlines on this site are set in <a href="http://www.dafont.com/honey-script.font">Honey Script Light</a> by&nbsp;<a href="http://www.steffmann.de/">Dieter Steffmann</a>, served locally. Body copy is set in <a href="https://typekit.com/fonts/museo">Museo</a> by&nbsp;<a href="http://www.exljbris.com/">exljbris</a>, served by Typekit.</p>
		<p>Select icons on this site come from <a href="http://thenounproject.com/">The Noun Project</a>:</p>
		<ul>
			<li><a href="http://thenounproject.com/term/headphones/312/">Headphones</a> by <a href="http://thenounproject.com/Dara%20Ullrich">Dara Ullrich</a></li>
			<li><a href="http://thenounproject.com/term/television/6122/">Television</a> by <a href="http://thenounproject.com/tlb">Thomas Le Bas</a></li>
			<li><a href="http://thenounproject.com/term/calendar/404/">Calendar</a> by <a href="http://thenounproject.com/edward">Edward Boatman</a></li>
			<li><a href="http://thenounproject.com/term/user/2553/">User</a> by&nbsp;<a href="http://thenounproject.com/catalarem/">Rémy Médard</a></li>
		</ul>
	</section>
{% endblock %}
